<%- include('_partials/_header') %>

    <div class="main-body">
        <div class="cotainer">
            <i class="bi bi-wechat"></i>
            <h1>Secrets</h1>
            <h2>Share your secrets to anyone</h2>

            <a href="/register"><i class="bi bi-box-arrow-in-right">Register</i></a>
            <a href="/Login"><i class="bi bi-box-arrow-in-down">Login</i></a>
        </div>
    </div>
    

    <%- include('_partials/_footer') %>

