<%- include('_partials/_header') %>

    <div class="main-body">
        <div class="cotainer">
            <i class="bi bi-wechat"></i>
            <h1>Secrets</h1>
            <h2>congrats you have Discoverd my Secrets</h2>
            <p class="secret-list"> Ram is getting married</p>

            <a href="/logout"><i class="bi bi-box-arrow-in-right">Logout</i></a>
            <a href="/submit"><i class="bi bi-box-arrow-in-down">Submit a secret</i></a>
        </div>
    </div>
    
    <%- include('_partials/_footer') %>
